/* TabViewDemo.css */

.tabview-demo .tabview-header-icon i, .tabview-demo .tabview-header-icon span {
    vertical-align: middle;
}

.tabview-demo .tabview-header-icon span {
    margin: 0 .5rem;
}

.tabview-demo .p-tabview p {
    line-height: 1.5;
    margin: 0;
}

.p-tabview-nav-link {
    background-color: rgb(20 184 166 / var(--tw-bg-opacity));
    color: white;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

.p-tabview-nav-link:hover {
    background-color: plum; 
}

/* .p-tabview-nav-link:active,
.p-tabview-nav-link:focus  {
    background-color: palevioletred; 
} */

.p-unselectable-text {
    margin: 0px 4px;
}


/* General style for all tab buttons */
.p-tabview-nav li a {
    color: #ffffff !important; /* Same font color for all tabs */
}

/* Specific background colors for each tab */
.p-tabview-nav li:nth-child(1) a {
    background-color: #ff0000 !important; /* Red background for the first tab */
}

.p-tabview-nav li:nth-child(2) a {
    background-color: #008700 !important; /* Green background for the second tab */
}

.p-tabview-nav li:nth-child(3) a {
    background-color: #e28203 !important; /* Blue background for the third tab */
}

.p-tabview-nav li:nth-child(4) a {
    background-color: #001f18 !important; /* Green background for the second tab */
}

.p-tabview-nav li:nth-child(5) a {
    background-color: #9300b0 !important; /* Blue background for the third tab */
}

.p-tabview-nav li a.active {
    background-color: #ffff00 !important; /* Yellow background for the active tab */
}

/* Add more styles for additional tabs as needed */